@media all and (max-width: 1024px) and (min-width: 330px){

body{
  


}


.content1{

}
.portfolio-grid{
  width: 300px;
}
.menu a{
  display: block;
  
}

.menu li{
  display: block;
  
  text-decoration: none;
  
}
.menu ul{
  background-color: #297CFF;
  list-style-type: none;
}



}