@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900,100,200);


body{
  font-family: 'Raleway', sans-serif;
  font-size:14px;
  font-weight: 400;
  overflow-y:scroll;
  -webkit-font-smoothing: antialiased;
  min-width: 350px;
  

  
 

}
h3,h2{

  color: white;
  padding-left: 0;
 
 
  text-align: center;
  font-size: 2em;

}



img{
  display: block;
  margin: 0 auto;
  

}
.logo a{

  color: white;
}

::selection {
		background: #000;
		color: #fff;
		text-shadow: none;
	}
	
	::-moz-selection {
		background: #000;
		color: #fff;
		text-shadow: none;
	}

p{
  font-family: 'Raleway', sans-serif;
  font-size:14px;
  font-weight: 400;
}

a{
  text-decoration:none;
  -webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in; 
	border-bottom:1px solid #dedede;
}

a:focus {
  outline:none;
}

strong{
  font-weight:700;

}

/*
**************************
PRELOADER
**************************
*/

.preloader{
  position:fixed;
  top:0;
  width:100%;
  height:100%;
  background:white;
  z-index:999;
}
 
.preloader .item{
  position:absolute;
  width:50px;
  height:50px;
  left:50%;
  top:50%;
  margin-left:-25px;
  margin-top:-25px;
} 

.spinner {
  width: 40px;
  height: 40px;
  margin: 0px auto;
  background-color: #333;
  border-radius: 100%;  
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}





/*
**************************
NAVIGATION OPACITY
**************************
*/



/*
**************************
HEADER
**************************
*/

header.boxed{
  position:fixed;
  width:100%;
  margin:0 auto;
  height:80px;
  z-index:9999;
  display:none;
  background:none;
  top:0;
    -webkit-transition: background 0.2s ease-in;
	-moz-transition: background 0.2s ease-in;
	-ms-transition: background 0.2s ease-in;
	-o-transition: background 0.2s ease-in;
	transition: background 0.2s ease-in; 
}

header.boxed .header-margin{
  width:1140px;
  margin:0 auto;
}

header.boxed .header-margin-mini{
  width:90%;
  margin:0 auto;
}


ul.social-icon{
  float:right;
}

ul.social-icon a{
  float:right;
  font-size:15px;
  border-bottom:0;
  color:black;
  padding-right:0px !important;
}

ul.social-icon a:hover{
  color:#c3c3c3;
}


.menu{
  background-color: #F26523;
}


.menu a{
  display: block;
  color: white;
  border-bottom: none;
}
.menu li{
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: none;
}










/*
**************************
CONTENT
**************************
*/





.clear{
  clear:both;
}

.content{
  position:relative;
  
  margin-top: 100px;
  margin: 0 auto;
  background-color: #4F5763;


  
}
.content1{
   padding-bottom: 100px;
  padding-top: 100px;
  background-color: #4F5763;
}


.content1 h2{
  

  text-align: center;


  font-size:50px;
  color: white;
  text-transform:uppercase;
  font-weight:800;
  line-height:70px;
  margin-right: 0;

}
.zach{
  float: right;
  clear: both;

}

.projects{

  padding-bottom: 50px;
}

.projects h1{
text-align: center;
padding-top: 20px;
font-size: 40px;
color: white;

}
.projects p{
  text-align: center;
  color: white;
}

.color{
  
  padding-top: 100px;
  margin: 0 auto;
  padding-bottom: 100px;


}
.color h2{
  font-size:30px;
  
  text-transform:uppercase;
  color: #F26523;
  font-weight:800;
  line-height:70px;
  text-align: center;

}

.color p{
  width: 70%;
  margin: 0 auto;
  letter-spacing: 2px;
  font-size: 2em;
  
  color: #4F5763;

}
.color2{
padding-bottom: 100px;
width: 70%;

}
.color2 p{
  width: 70%;
  margin: 0 auto;
  letter-spacing: 2px;
  font-size: 20px;
  
  color: white;

}
.color2 h2{
  font-size:30px;
  
  text-transform:uppercase;
  color: white;
  font-weight:800;
  line-height:70px;
  text-align: center;

}

.background img{ 

  width: 50%;f
  


}

.background h3{

  color: white;
  font-size: 18px;
  padding-top: 200px;
  padding-bottom: 350px;
}
.portfolio{
  text-align: center;
   padding-top: 50px;
   padding-bottom: 50px;
  

}
.portfolio a{
  font-size: 20px;
  text-decoration: none;
  color: white;


}
.title{
position: relative;

 font-size: 30px;
  text-decoration: none;
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;


}
.what_i_do {
   font-size: 80px;
  text-decoration: none;
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.color1{
  background-image: url(../img/background2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.skills {
  display: inline-block;
  width: 20%;

}

.description{
  margin: 0 auto;
  
  text-align: left;
  padding-left: 20%;
}
.about_me img{
  width: 30%;
}

.bio{
  width: 70%;
  color: white;
  text-align: left;
  padding-top: 50px;
  font-size: 20px;
}
.bio h2{
  padding-bottom: 10px;
  padding-top: 50px;
  text-align: left;
}
.bio p{
  padding-bottom: 50px;
  font-size: 14px;
  color: white;
}
.bio a{
  color: white;
}
.icon_list1 img{
  display: inline-block;
  width: 15%;






}

.icon_list img{
  display: inline-block;
  width: 30%;
  padding-top: 20px;

}
.summary p{

  color: white;
  margin: 0 auto;
  
  text-align: center;
  padding-top: 50px;
  font-size: 30px;
  width: 50%;
  padding-bottom: 50px;
  

}
.wireframes{ 

  width: 70%;
  

}
.wireframes img{
  display: inline-block;
  width: 20%;
  padding: 10px;
}


.text-intro h3{

  margin: 0 auto;
  
  padding-bottom: 50px;

  font-size: 30px;
  width: 50%;



}
#icon{

  width: 5%;
  padding-bottom: 50px;
}

.link{

  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;

}


.link a{
  display: inline-block;
  margin: 0 auto;
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.content .text-intro h1{
  text-align: left;
  padding-left: 20%;
  font-size:60px;
  color: #F26523;
  font-weight:800;
  line-height:70px;
  margin-right: 0;
  padding-top: 50px;

}
.myname{
  padding-top: 50px;

}

.contact_me{

  padding-top: 100px;
  padding-bottom: 200px;


}

#title{
  display: inline-block;
  text-align: center;
  padding-left: 0;
  
  font-size:60px;
  color: #F26523;
  font-weight:800;
  line-height:70px;
  margin-right: 0;
  padding-top: 50px;

}
.contact_me h2{

  color: white;
  padding-top: 50px;

}

.contact_me a{
  color: white;
  font-size: 30px;
  text-decoration: none;
  margin-bottom: 30px;
  border-bottom: solid white 2pt;
  
  margin-bottom: 30px;
}







.description p{
  margin: 0;

}



        .typed-cursor{
            opacity: 1;
            font-weight: 900;
            -webkit-animation: blink 0.7s infinite;
            -moz-animation: blink 0.7s infinite;
            -ms-animation: blink 0.7s infinite;
            -o-animation: blink 0.7s infinite;
            animation: blink 0.7s infinite;
        }
        @-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-webkit-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-moz-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-ms-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-o-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }

/*
**************************
HOME SIDEBAR
**************************
*/



/*
**************************
PORTFOLIO GRID
**************************
*/

.prev-next{
  width:100%;
  max-width:1170px;
  margin:0 auto;
  padding-top:100px;
}

.prev-next a{
  color:black;
  font-weight:500;
  padding-bottom: 15px;
}

.prev-next a:hover{
  border-bottom:1px solid black;
}

.prev-button{
  width:50%;
  position:relative;
  float:left;
  text-align:left;
}

.next-button{
  width:50%;
  position:relative;
  float:left;
  text-align:right;
}




.portfolio-grid{
  width:1170px;
  position:relative;
  margin: 30px auto;
  overflow:hidden;
}



li.grid-item{
  width:360px;
  position:relative;
  float:left;
  padding:15px;
}

.grid-hover{
  position: absolute;
  width:360px;
  height: 100%;
  top:0;
  background: white;
  z-index: 2;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in; 
}

.grid-hover:hover{
  opacity: 0.9;
}

.grid-hover h1{
  font-size:23px;
  bottom:80px;
  left:40px;
  position:absolute;
  text-transform:uppercase;
  color:#000000;
  letter-spacing:1px;
  font-weight:900;
  line-height:50px;
}

.grid-hover p{
  font-size:13px;
  bottom:40px;
  left:40px;
  position:absolute;
  color:#686868;
  letter-spacing:1px;
  font-weight:400;
  line-height:50px;
}

li.grid-item img{
  width:360px;
}

/*
**************************
FOOTER
**************************
*/

#footer-box{height:150px; margin-top:75px;}

footer{
  background: #f1f1f1;
  width:100%;
  
  
  height:300px;
  overflow:hidden;
  position:relative;
  z-index:10;
}

.footer-margin{
  width:100%;
  margin: 30px auto;
  line-height: 100px;
}

#footer-left{text-align:left;}

.footer-margin .copyright{
  color: #686868;
  letter-spacing: 1px;
  font-size: 12px;
  width: 100%;
  text-align:center;
  float: left;
}

.footer-margin .social-footer{
  color: #686868;
  letter-spacing: 1px;
  font-size: 13px;
  width: 100%;
  text-align:center;
  float: left;
}

.footer-margin .social-footer a{
  font-size:15px;
  color:black;
  padding: 20px;
}

.footer-margin .social-footer a:hover{
  color:#c3c3c3;
}


/*
**************************
CONTACT
**************************
*/

.contact-one, .contact-two{
  width:30%;
  padding-right:3%;
  position:relative;
  float:left;
}

.contact-three{
  width:33%;
  position:relative;
  float:left;
}

.contact-one p, .contact-two p, .contact-three p{
  width:100% !important;
}

input{

  width:100%;
  height:40px;
  background:#f8f7f7;
  border:0;
  color:#000000;
  font-weight:500;
  line-height:40px;
  font-family: 'Raleway', sans-serif;
  margin-bottom:10px;
  font-size:13px;
  padding-left:15px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

input.button-submit{

  width:220px;
  height:40px;
  background:#f8f7f7;
  font-weight:500;
  border:0;
  font-family: 'Raleway', sans-serif;
  color:#000000;
  float:right;
  font-weight:900;
  line-height:40px;
  font-size:13px;
}

input:focus{
  background:#f4f4f4; 
}

textarea{

  width:100%;
  height:40px;
  border:0;
  line-height:40px;
  background:#f8f7f7;
  color:#000000;
  font-size:13px;
  font-family: 'Raleway', sans-serif;
  font-weight:500;
  margin-bottom:10px;
  padding:0 0 0 15px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
    -webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in; 
}

textarea:focus{background:#f4f4f4; height:250px;}
